/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  background-color: cornflowerblue;
}

.container {
 height: 100vh;
}

.stepper {
  background-color: aliceblue;
  box-shadow: 3px 3px 3px;
  height: 70vh;
  border-left: 10px solid darkblue;
}

.card {
  height: 50vh;
}

.card-content{
  height: 35vh;
}